@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@0,6..96;1,6..96&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #1a0000;
    --secondary-text-color:  #33331a;
    --accent-color:  #cc99ff;
    --accent-dark-color: #4d88ff;
    --padding-inline-section: 20px;
}


/* Utility */


a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    

}

.flex{
    display: flex;
    align-items: center;

}

/* Nav section */
.nav-container{
    background-color: rgb(14, 20, 20);
    padding: 1rem;
    font-family: 'Bodoni Moda', serif;
    font-size: 1rem;
    height: 3rem;


}
.nav-item{
    gap: 20px;
    list-style: none;
    margin-top: -0.5rem;
}
a:hover{
    color:#fff;
}

/*main -section */
.container{
    background-color: rgb(7, 127, 87);
    padding-block: 10px;
    gap: 35px;
    font-family: "bodoni modo" ;

}
.header-text{
    height: 250px;
   width: 350px;
    color: white;
    text-align: center;
    padding: 10px;
   
}
.heading{
    font-size: 49px;
}
.para{
    margin-top: 25px;
    font-size: 1.5rem;
}
.gallery-layout{
    display: grid;
    row-gap: 5px;
    column-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 120px;
    flex-basis: 65%;

}

.box{
    background-color: rgb(63, 60, 60);
    border: 1px solid skyblue;
    background-size: cover;
    background-position: top;
    background-blend-mode: hard-light;
    transition: all 1s ease-in-out;
    cursor: pointer;
    color: white;
    font-size: 20px;

    
}
.box:hover{
    background-color:rgb(210, 204, 204) ;
    background-position: center;
    
    box-shadow: 0 0 4px #fff;

}

#box1{
    grid-row: span 2;
    background-image: url("images/pexels-szelei-robert-1482193.jpg");


}

#box2{
    grid-column: span 2;
    background-image: url("images/pexels-dsd-1829979.jpg");

}
#box3{
    background-image: url("images/pexels-michael-block-3225517.jpg");

}

#box4{
    grid-row: span 2;
    background-image: url("images/pexels-darwis-alwan-1454752.jpg");
}

#box5{
    grid-column: span 2;
    background-image: url("images/pexels-michael-block-3225524.jpg");
 
}
#box6{
    background-image: url("images/pexels-michal-lizuch-2919720.jpg");
 
}

#box7{
    grid-column: span 2;
    background-image: url("images/pexels-pixabay-235990.jpg");

}


/* Footer */
footer{
    height: 50px;
    max-width: 100%;
    background-color: rgb(14, 20, 20);
    padding: var(--padding-inline-section);
    font-family: 'Bodoni Moda', serif;
    font-size: 1rem;
}
footer a{
padding-bottom: 0 90px;
margin: 0 10px;
}
/* media queries for Mobile Responsiveness */

@media screen and (max-width: 1024px){

    .container{
        flex-direction: column;
        padding: 20px;
    }
    .box{
        grid-column: span 3;
        grid-row: span 1;

    }
.gallery-layout{
    margin-top:-20px;
    width: 100%;
    grid-auto-rows: 100px;
    padding-inline: 12px;
    row-gap: 10px;

}
#box2, #box5, #box7{
    grid-column: span 3;
}
    
}



